{% extends "v6.10.0-layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">About {{ data['representative-first-name'] | capitalize }}</span>
  <h1 class="govuk-heading-l">
    You need to post your full registered LPA property and finance documents to us
  </h1>

  <p class="govuk-body">
    This is because we need your documents to prove you have power of attorney. 
    </p>
  <p class="govuk-body">    
    Include the claimant's full name, address and National Insurance number with the documents on a separate piece of paper.
  </p>
  <p class="govuk-body">
    Send the documents by recorded delivery to:
  </p>

  <div class="govuk-inset-text">
    Attendance Allowance Unit<br>
    Mail Handling Site A<br>
    Wolverhampton<br>
    WV98 2AD
  </div>

  <p class="govuk-body">
    Or you can send them by Freepost to:
  </p>

  <div class="govuk-inset-text">
    Freepost<br>
    Attendance Allowance
  </div>

  <p class="govuk-body">
    You do not need a postcode or a stamp if you use this address.
  </p>
  <p class="govuk-body">
    You can send the originals or certified copies. We will send these back to you.
  </p>

{% endblock %}

{% block postForm %}
  {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

{% block formButton %}
  {{ phaseButton(data, "Continue") }}
{% endblock %}
